In [5]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 2.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.3)
Collecting pytz>=2017.2
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 42.2 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.5 pytz-2021.1
WARNING: You are using pip version 20.2.4; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.

In [1]:
import tensorflow as tf

In [2]:
tf.test.is_gpu_available()

WARNING:tensorflow:From <ipython-input-2-17bb7203622b>:1: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.

True

In [2]:
import numpy as np
import pandas as pd

In [3]:
#load data
df = pd.read_csv('./ntu-adl-hw0-spring-2021/train.csv')

In [4]:
df

,Id,text,Category
0,f6d77ca7b407bec6f00d3b94c5b11907a8781b85661e0b...,什麼 才 是 想要 的,0
1,a519e92b4570f3ef68482bb034ab6f26903aa913548aa4...,應該 是 學姊 吧 ！,1
2,b2058b0cbbac5d6c80b28219d4b685f893bb2220a614fd...,我 想要 瘦 啊 希望 能 趁 這 次 暑假 來 個 減肥 大計 祈禱 我 能 持之...,1
3,3917286757d7a0ca1b3a4d89a887a40faa8b9523749d2c...,順利 到 12月 底 完成 ！ ！ ！ ！ ！,1
4,f047ccbe9c84987ea2e99b63727e1a2597bf80815b4c20...,在 感情 裡 付出 過 的 一切 就是 屬於 兩 人 永遠 的 記憶 別人 都 無法...,0
...,...,...,...
79995,a49ea165f0529cf60747753e8a5fff85701de7a4182d47...,趕快 買 機車,1
79996,f004bbd26a9a95c5e3f6d7721aa5210e102b95cffede8a...,周末 不要 下雨,1
79997,d3e78a80ee8a5c1721c67f56758d7d3ab0526688d7fb6f...,讓 我 瘦身 成功 吧 !,1
79998,e5a7e168d80650b4d5905545a1f5e8e7974a0ed477ba30...,你 第幾 次 讓 我 這樣 心痛 了 口口 聲聲 說 我 是 你 很 重要 的 人 ...,0
79999,4b76936177df2fc26d74ddf6defb2b75d08db9c77f3c54...,demo,1

In [5]:
# seperate each word in a sentence
# and record unique word occur in dataset
train = []
dic = {}
count = 0
for text in df['text']:
    tmp_text = text.split(' ')
    new_text = []
    for word in tmp_text:
        if(word != ""):
            new_text.append(word)
            if(word not in dic):
                dic[word] = count
                count = count + 1
    train.append(new_text)

In [6]:
# transform each data point into bag-of-word
# no normalization
X = []
for data in train:
    x_input = [0 for _ in range(75417)]
    for word in data:
        x_input[dic[word]] = x_input[dic[word]] + 1
    X.append(x_input)

In [7]:
# transform input data into numpy type
X = np.array(X)

In [8]:
# input data size
X.shape

(80000, 75417)

In [9]:
# label
Y = df['Category']

In [10]:
# transform label into numpy type
# and change size to (80000,)
Y = np.array(Y)
Y = np.reshape(Y,(80000,))

In [11]:
# create model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
model = Sequential()
model.add(Dense(units=1024, input_dim=75417, kernel_initializer='normal', activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=256, kernel_initializer='normal', activation='relu'))
model.add(Dense(units=1, kernel_initializer='normal', activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
# model structure
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              77228032
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               262400
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 257
=================================================================
Total params: 77,490,689
Trainable params: 77,490,689
Non-trainable params: 0
_________________________________________________________________

In [13]:
# set up hyperparameters and model training
model.fit(X,Y,validation_split=0.2, epochs=3, batch_size=5)

Epoch 1/3
12800/12800 [==============================] - 82s 6ms/step - loss: 0.2821 - accuracy: 0.8886 - val_loss: 0.2391 - val_accuracy: 0.9075
Epoch 2/3
12800/12800 [==============================] - 71s 6ms/step - loss: 0.1785 - accuracy: 0.9361 - val_loss: 0.2581 - val_accuracy: 0.9056
Epoch 3/3
12800/12800 [==============================] - 71s 6ms/step - loss: 0.1222 - accuracy: 0.9567 - val_loss: 0.3142 - val_accuracy: 0.9069

In [14]:
# load test data
df_test = pd.read_csv('./ntu-adl-hw0-spring-2021/test.csv')

In [15]:
df_test

,Id,text,Category
0,60ffed24da8262dd38c916dd517c617641710ede348320...,撿到 學妹 的 手機 : 吃完 飯 看到 學妹 疑 落 手機 在 三 顧 茅蘆 的 ...,0
1,cb931d414e634344c782a128d542188d6ec1d325e82dd1...,這些 年 努力 的 付出 ~ 但是 最終 有 誰 會 記得 大家 看到 的 只 是 表面...,0
2,f7febf0abfefcb927ee16440eaca62d795392de2d685a6...,幫 我 把 摩托車 鑰匙 放到 放 飲料 的 地方,0
3,709399d1be2207b8f06dfc9ddb3a0709d9894c02849b88...,在一起 是 需要 2 人 同意 但 分手 卻 是 要 一 人 同意 就 好 了 是 ...,0
4,0d1969c03277dfaef7ccfd40f0710bcff4ecd978faa935...,只好 說 抱歉,0
...,...,...,...
9995,518e80d24778d9ebd2a941ca4d2b71c7ebb722ca74c3b7...,身邊 的 朋友 們,0
9996,af7dc1a655e84b72726a382062779be203ed0450496568...,真的 不 知道 該 怎麼辦 該 跟 誰 說 才 開開心心 地 回到 宿舍 就 接...,0
9997,38bc4d6c1f43b5e3ccc65689a90a3daa6938954615dd58...,當初 真的 不 該 說出 那些 話 ... 現在 多麼 尷尬 阿 .... 每 天 ...,0
9998,ec1d744837fc5544b07b184235b3d1fd4b53e365500ab3...,糟糕 的 基督徒,0
9999,f58e6da14e7e455a33e27eb80e806246783346496310f4...,在 那 之後 我 的 世界 就 崩解 了 胸口 持續 抽痛 胃液 逆流 近 幾 年 ...,0

In [16]:
# seperate each word in a sentence
test = []
for text in df_test['text']:
    tmp_text = text.split(' ')
    new_text = []
    for word in tmp_text:
        if(word != ""):
            new_text.append(word)
    test.append(new_text)

In [17]:
# transform test data points into bag-of-word
# p.s. if a word that didn't exist in train dataset, then ignore it.
X_test = []
for data in test:
    x_input = [0 for _ in range(75417)]
    for word in data:
        if(word in dic.keys()):
            x_input[dic[word]] = x_input[dic[word]] + 1
    X_test.append(x_input)

In [18]:
# transform test data into numpy type
X_test = np.array(X_test)

In [19]:
# predict
pred = model.predict(X_test)

In [20]:
pred

array([[1.0000000e+00],
       [1.5408274e-03],
       [9.9999666e-01],
       ...,
       [5.7347955e-07],
       [1.0900800e-02],
       [9.8252099e-07]], dtype=float32)

In [25]:
np.min(pred)

0.0

In [27]:
np.max(pred)

1.0

In [28]:
# set up threshold and assign test data label
pred_modify = []
for i in pred:
    if(i<0.5):
        pred_modify.append(0)
    else:
        pred_modify.append(1)

In [29]:
df_test['Category'] = pred_modify
df_test

,Id,text,Category
0,60ffed24da8262dd38c916dd517c617641710ede348320...,撿到 學妹 的 手機 : 吃完 飯 看到 學妹 疑 落 手機 在 三 顧 茅蘆 的 ...,1
1,cb931d414e634344c782a128d542188d6ec1d325e82dd1...,這些 年 努力 的 付出 ~ 但是 最終 有 誰 會 記得 大家 看到 的 只 是 表面...,0
2,f7febf0abfefcb927ee16440eaca62d795392de2d685a6...,幫 我 把 摩托車 鑰匙 放到 放 飲料 的 地方,1
3,709399d1be2207b8f06dfc9ddb3a0709d9894c02849b88...,在一起 是 需要 2 人 同意 但 分手 卻 是 要 一 人 同意 就 好 了 是 ...,0
4,0d1969c03277dfaef7ccfd40f0710bcff4ecd978faa935...,只好 說 抱歉,0
...,...,...,...
9995,518e80d24778d9ebd2a941ca4d2b71c7ebb722ca74c3b7...,身邊 的 朋友 們,1
9996,af7dc1a655e84b72726a382062779be203ed0450496568...,真的 不 知道 該 怎麼辦 該 跟 誰 說 才 開開心心 地 回到 宿舍 就 接...,0
9997,38bc4d6c1f43b5e3ccc65689a90a3daa6938954615dd58...,當初 真的 不 該 說出 那些 話 ... 現在 多麼 尷尬 阿 .... 每 天 ...,0
9998,ec1d744837fc5544b07b184235b3d1fd4b53e365500ab3...,糟糕 的 基督徒,0
9999,f58e6da14e7e455a33e27eb80e806246783346496310f4...,在 那 之後 我 的 世界 就 崩解 了 胸口 持續 抽痛 胃液 逆流 近 幾 年 ...,0

In [30]:
out = df_test[['Id','Category']]

In [31]:
out

                                                     Id  Category
0     60ffed24da8262dd38c916dd517c617641710ede348320...         1
1     cb931d414e634344c782a128d542188d6ec1d325e82dd1...         0
2     f7febf0abfefcb927ee16440eaca62d795392de2d685a6...         1
3     709399d1be2207b8f06dfc9ddb3a0709d9894c02849b88...         0
4     0d1969c03277dfaef7ccfd40f0710bcff4ecd978faa935...         0
...                                                 ...       ...
9995  518e80d24778d9ebd2a941ca4d2b71c7ebb722ca74c3b7...         1
9996  af7dc1a655e84b72726a382062779be203ed0450496568...         0
9997  38bc4d6c1f43b5e3ccc65689a90a3daa6938954615dd58...         0
9998  ec1d744837fc5544b07b184235b3d1fd4b53e365500ab3...         0
9999  f58e6da14e7e455a33e27eb80e806246783346496310f4...         0

[10000 rows x 2 columns]

In [32]:
# save prediction to csv file
out.to_csv('./predict9.csv',index=False)

In [33]:
# save model weight
model.save_weights('./model9.h5')

## model9.h5 是最好的
    model = Sequential()
    model.add(Dense(units=1024, input_dim=75417, kernel_initializer='normal', activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(units=256, kernel_initializer='normal', activation='relu'))
    model.add(Dense(units=1, kernel_initializer='normal', activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.fit(X,Y,validation_split=0.2, epochs=3, batch_size=5)